@CHARSET "ISO-8859-1";

.ui-layout-pane-north .ui-layout-unit-content{
	padding:0 !important;
}

.navbar{
	margin-bottom: 0;
}
.navbar.cabecera{
	margin-bottom: 0;
}
#west-layout{
	margin:5px 5px 0 0;
}

.ui-layout-pane-west, .ui-layout-pane-west, .ui-layout-pane-west .ui-layout-unit-content{
	/* 	background:#0050A9 !important; */
/* 	background: radial-gradient(#152535,#4A6D8B) !important; */
	background: radial-gradient(70% 40% at right 45%, rgb(74, 109, 139),rgb(21,37, 53));
}

.ui-menu{
background :transparent !important;

}
 .ui-layout-pane-west {
	background: rgb(21,37, 53) !important;
}
.ui-layout-pane-west *{
/* 	color:white; */
	color: #B4B4B5;
}
.ui-layout-pane-west .ui-widget-header{
/* 	background:#0050A9;  */
	background: transparent;
	border:0;
}

.ui-layout-pane-west .ui-widget-header h3{
	font-size: 1.1em !important;
	padding-left:1em !important;

	font-family:Helvetica, Arial, sans-serif !important;
/* 	float: inherit !important; */
	padding-top: 0.9em !important;
	padding-bottom:1em !important;
	position: relative;
}

#menu-layout-sidebar{
	padding-top:20px;
}

#menu-layout-sidebar ul.menu{
	list-style:none;
	padding:0;
	margin:0;
}
#menu-layout-sidebar  ul.menu > li{
	border-width: 1px 0px;
    width: 100%;
    margin:1px 0;

}
#menu-layout-sidebar  ul.menu > li h3:hover{
	cursor:pointer;
	background:#0081c2;
	color:white;
}
#menu-layout-sidebar ul.menu > li h3{
	font-size:1.1em;
	margin:0;
	padding: 0.8em 0;
    font-family: Helvetica, Arial, sans-serif !important;
    font-weight:400;
    border-bottom: 1px solid #004A74;
}
#menu-layout-sidebar ul.menu > li h3 span{
	display:inline-block;
}
#menu-layout-sidebar ul.menu ul.submenu{
	list-style:none;
	padding:0;
	border-left:1px dotted #ccc;
	display:none;
}


#menu-layout-sidebar ul.menu ul.submenu li{
	background:#193546;
}


#menu-layout-sidebar ul.menu ul.submenu li a{
	color:#B4B4B5;
	display:block;
	width:100%;
	font-family: Helvetica, Arial, sans-serif !important;
	padding: 0.3em 0;
	padding-left:30px;
	font-weight: normal;
	line-height: 16px;
	font-size:0.97em;
}
#menu-layout-sidebar  ul.menu ul.submenu li a:hover{
	text-decoration:none;
	background:#0081c2;
	color:white;
}
#menu-layout-sidebar ul.menu ul.submenu li.active{
	background:#00B495;

}
#menu-layout-sidebar ul.menu ul.submenu li.active a{
	color:white;
}

.ui-layout-pane-west .ui-menu-list .ui-widget-header{
/* 	border-bottom: 1px solid #333; */
	border-bottom: 1px solid #004A74;
}
.ui-layout-pane-west .ui-widget-header h3 span {
	left:0.1em !important;

}
.ui-menu-list,.ui-helper-reset .fa-archive{
	padding-top:1em !important;
	padding-bottom:1em !important;
/* 	float: inherit !important; */
}
.ui-layout-pane-west .ui-menuitem{
/* 	background:#333; */
	background:#193546;
	padding:0 0 0 0 !important;
	margin:0 !important;
}
.ui-layout-pane-west .ui-menuitem a{
	border-color: #999;
    border-image: none;
    border-style: dotted;
    border-width: 0 0 0 1px !important;

    }
.ui-layout-pane-west .ui-widget-header:hover{
	background: #0081c2;
}
.ui-layout-pane-west .ui-widget-header:hover h3{
	color: white !important;
}
#listProducts{
    height: 280px;
    overflow-x: hidden;
}

#listProducts .ui-datagrid-content{
    background: #EFEFEF;
}
.cabecera-filter tr td .autocompletespan {
    width: 320px !important;
}
.cabecera-filter tr td .autocompletespan  input{
    width: 300px !important;
}
.title{
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    font-size: 16px;

}
.ui-widget{
	font-size: 0.97em !important;
}

.tableCheck div tr{
    background: none !important;
}
.tableCheck div .ui-state-highlight{
    background: none !important;
    color: black !important;
}
.tableCheck div .ui-state-highlight td{
    background: #A9F6D2 !important;

}
.tableCheck div .ui-state-active{
    background:#46b8da !important;
     color: #fff !important;
}
.pickList{
    width: 600px !important;
      height:  220px !important;
}

.pickList .ui-picklist-list{
    width: 230px !important;
}
.pickList .ui-picklist-list .ui-picklist-item {
   text-align: left!important;
}
#listProducts{
    height: 450px;

}

.loginImg{
	vertical-align: middle;
}

.dataTables_wrapper{
	z-index:1000;
 	background:#4E4E4E;
	padding-top:1px;
/*  	background-image: linear-gradient(to bottom, #4E4E4E, #4E4E4E 40%, white 40%);  */
  	background-attachment:fixed;
  	background-repeat: no-repeat;
  	height: 32px;
 }


#baseDateControl .datepicker, #modal-form .datepicker{
	width:85px;
	margin:0;
	text-align: center;
	font-size:1em;
	height: 27px;
	border:1px solid #ccc;
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border-radius:0;
}
#modal-form .date .input-group-addon{
	padding: 3px
}
#baseDateControl .datepicker:focus, #baseDateControl .ui-datepicker-trigger:focus{
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
#baseDateControl img.ui-datepicker-trigger, #modal-form img.ui-datepicker-trigger{
	width:26px;
	height: 27px;
	cursor:pointer;
	margin:0;
	margin-right:5px;
	padding:0 1px 0px 1px;
	border:1px solid #ccc;
	margin-top:-3px;
	border-bottom-right-radius:5px;
	border-top-right-radius: 5px;
	background:white;
}

.centered{
	text-align:center;
}

.mi-modal{
 background:rgba(0,0,0,0.5);
 position:fixed;
 top:0;
 left:0;
 bottom:0;
 right:0;
 width:100%;
 heigth:100%;
 display:none;
 z-index:1101;
}

.mi-modal > div{
 width:90%;
 margin:20px auto;
}

#alertCash{
	margin:0;
	padding:5px 10px;
}

.btn-black{
	color:white !important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%);
}
.btn-black:hover{
	background:#111;
}

.wrapper-table-detail{
	height: 250px; overflow-x: hidden;
}
.wrapper-table-detail2{
	height: 430px; overflow-x: hidden;
}
.wrapper-table-summary{
	height: 350px; overflow-x: hidden;
}
.wrapper-table-detailPay{
	height: 120px; overflow-x: hidden;
}

table.table-transacion-detail thead th{
	background:#eee;
	background:linear-gradient(#eee, #efefef);
}
table.table-transacion-detail tbody td, table.table-transacion-detail tfoot td, table.table-transacion-detail thead th{
	padding:2px;
	border:1px solid #ccc;
}
table.table-transacion-detail tbody td input{
	padding:2px;
	height:27px;
}
.checkboxpading{
	padding:0px !important;
	height:0px !important;
}
table.table-transacion-detail tfoot td input{
	padding:2px;
	height:27px;
}
table.table-transacion-detail tbody td select{
	padding:2px;
	height:27px;
}
.money{
	text-align:right;
}

.panel .headerTitle{
	height:auto;
	margin-bottom:0.5em;
	padding-bottom:0.5em;
	border:0;
	border-bottom:1px solid #ccc;
}

.modal-lg{
	width:99%;
}

#newPurchase .modal-dialog, .modal-form .modal-dialog{
	margin-top:1em;
}

#section-list-products .product-panel{
	margin: auto;float: none;
}

#section-list-products .product-panel .imgSalesFive{
	max-width:100%;
}

#section-list-products #list .list-product {
	padding:0;
	background:#f7f7f7;
}

#section-list-products #list .list-product .row.title{
	background:linear-gradient(#ddd, #efefef);
}

#section-list-products #list .lista {
	margin:0;
}
#section-list-products #list .lista:hover{
	background:#efefef;
}
#section-list-products #list .name {
	border-top:1px dashed #aaa; padding: 5px;
}

#section-list-products #list .stock {
	border-top-width: 2px;border-top-style: solid;
}

#section-list-products #filtro{
	min-width:55%;
	height:27px;
}

.options-view-products{
	text-align:right;
}

#section-list-products.panel .panel-body{
	margin:2px;
	padding:2px;
}

#section-list-products div#listProducts{
	height:400px;
}

#modal-form .modal-body{
	padding-bottom:2px;
}

.modal-sm2{
	max-width:400px;
    width: 100%;
}

.modal-sm3{
	max-width: 850px;
    width: 100%;
}

.modal-sm4{
	max-width: 1150px;
    width: 100%;

}

.marcoDocument{
	text-align: center !important;
	border: 1px solid #606060 !important;

}

.text-space{
	padding-left: 10px;
}

.text-tipy-document{
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}

.form-text-print{
	border: none;
	padding-left: 5px;
	width: 80%;
}

.table-border {
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #606060 !important;
	width: 100%;
}

.table-border thead tr {
	border-bottom: 1px solid #606060;
}

.table-border thead tr th{
	text-align: center;
	padding: 3px;
	border-right: 1px solid #606060;
}

.table-border tbody tr td {
	padding: 7px;
	border-right: 1px solid #606060;
}

.table-border tfoot{
	border-top: 1px solid #606060;
}

.table-border tfoot tr td{
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}

.text-align-price {
	text-align: right;
	padding-right: 10px;
}

td.details-control {
    /*background: rgba(0, 0, 0, 0) url("../resources/details_open.png") no-repeat scroll center center;*/
    cursor: pointer;
}

/*Para el modal de pagos*/
#popup {
   visibility: hidden;
   opacity: 0;
   display: flex;
   /*background-color: rgba(0,0,0,0.8);*/
}

#popup:target {
   visibility:visible;
   opacity: 1;
   right:0;
   bottom:0;
   margin:0;
   z-index: 1001;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:98%;
   box-shadow: 2px 2px 10px #666;
   align-self: baseline;
}
.popup-contenedor-subsidiary {
   position: relative;
   padding:30px 70px;
   background-color: #ebeff8;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   left:3px;
   background-color: #ff0000;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
a.popup-cerrar-subsidiary {
   position: absolute;
   top:3px;
   background-color: #ff0000;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

.error-required{
	color: red;
}

.modal-lg2{width:800px}

.wrap_paginator{
	width:100%;

	text-align:center;
}
.wrap_paginator > div{
	display:inline-block;
}

.full_paginator ul{
	margin:0 auto !important;

}

.super_paginator_left{
	vertical-align: top;
}
.super_paginator_right{
	vertical-align: top;
}

.printModal  .modal-body{
	max-height:450px;
	overflow-x:hidden;
}
#printModal .modal-dialog{
	margin-top:10px;
}
.ticket-print{
	width:100%;
	top: -50px;
/*     position: inherit; */
	position:relative;
}


.ticket-print .neto-zone, .ticket-print .igv-zone, .ticket-print .total-zone{
	text-align:left;
}

.ticket-print .neto-zone span:nth-child(1), .ticket-print .igv-zone span:nth-child(1), .ticket-print .total-zone span:nth-child(1){
  	display:inline-block;

 }
 .ticket-print .igv-zone span:nth-child(1){

 }

 .table-filters{
 	background:#4E4E4E;
 	padding:2px;
 	margin:0;
 	padding-left: 0px;
 }
 .table-filters label{
/*  	color:white !important; */
 }
 .table-filters input[text], .table-filters select{
   padding:3px 10px;
   height:25px;
   background-color:white !important;
 }

 .table-filters .search-block label{
 	display:inline-block;
 	width:30%;
 	text-align:right;
 }
  .table-filters .search-block input{
 	width:68%;
  }
 .table-filters .input-group-addon{
  padding:2px 5px;
 }
 .pagination > li > a{
 	padding:2px 10px;
 	font-size:10px;
 	cursor:pointer;
 }

.form-light{
	height:25px;
	padding:1px 3px;
}

.cashboxsummary-block .panel-body{
	padding:0;
}
.cashboxsummary-block .panel-body > div{
	display:inline-block;
	text-align:center;
}
.cashboxsummary-block .panel-body .bg-icon{
	padding:15px 20px;
	vertical-align:top;
	width:70px;
	font-size:20px;
	color:#333;
}
.cashboxsummary-block .panel-body p{
	text-align:left;
	font-weight: bold;
}
.cashboxsummary-block .bg-success{
	background: #00C2EF;
}
.cashboxsummary-block .bg-warning{
	background: #FC4B3C;
}
.cashboxsummary-block .bg-info{
	background: #00A758;
}
.cashboxsummary-block .bg-bank{
	background: yellow;
}
.column{
    background-color: #EFF5FB;

}
.nav-tabs li:hover{
	cursor: pointer;
}
.nav-tabs li{
	font-weight: bold;
}
.sales-summary-daily ul{
	min-height:100px;
	max-height: 300px;
	overflow-x: hidden;
}
.sales-summary-daily ul{
	list-style:none;
	padding:0;
	margin:0;
}
.sales-summary-daily li{
	width:33%;
	margin:2px;
	display: inline-block;
	border-bottom:1px solid #ccc;
}

#summarydaily-form-message{
	padding:5px;
}

#import-products-table{
	font-size:10px;
}
#messageimport-panel .panel-body{
	overflow-x:hidden;
	max-height: 100px;
}
#importModal .modal-header h3{
	margin:0;
}
.resaltado {
  background-color: #fee0d3;
}

.stockminimo {
  background-color: #ffff8d;
}
.stockmenorcero {
  background-color: #FEC3C3;
}

.expire_products_on_purchase{
	display:inline-block;
	margin-left:1px;
	float:right;
}


.small-input, .expire_products_on_purchase.form-inline .form-control.small-input{
	width:100px;
}
.verysmall-input{
	width:50px;
}
.expire_products_on_purchase .input-group .input-group-addon{
	padding:6px 2px;
}
.expire_products_on_purchase .input-group .verysmall-input{
	width:50px;
}

.inline-input{
	display:inline-block;
}

.ui-layout-unit-header-icon {
    display: none !important;
}
.ui-layout-toggler-west-closed{
	    display: none !important;
}
.ui-widget-header{
	color: #B4B4B5 !important;
}
.pass-elements-buttons .wrapper-buttons{
	display:table;
	width:100%;
	height:300px;
	text-align: center;
}
.pass-elements-buttons .wrapper-buttons div{
	display: table-cell;
	vertical-align: middle;
}

.pass-elements .right-side .list{
	max-height: 300px;
	overflow-x:hidden;
}

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
  text-align: center;
/*   color:white; */
}
.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}


@media print{
	#printable-section{ diplay:block; }
	body, .ticket-print{
		font-family:Verdana, Geneva, sans-serif !important;
		font-size: 15px !important;
		-webkit-transform:scale(0.75) !important;
		transform: scale(0.75) !important;
	}

}
@page {
  size: a5;
}
.qrcode {
/* 		margin: 0 100px !important; */
text-align: center;
	}
.qrcode img{
/* 		width: 30%; */
/* 		margin: auto;*/
	}
.comment{
	font-size: 8px;
	color: grey;
}

.qrcode img{
		width: 100px;
		height: 100px;
		margin: auto;
	}
	.qrcode svg{
		width: 100px;
		height: 100px;
		margin: auto;
	}

.parpadea {
  color:red;
  text-shadow:1px 1px 3px #3333;
  font-weight:bold;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
#divListProduct.on-air #listProducts{
	height: 40px;
}
#divListProduct.on-air #list-product-container{
	height:18px !important;
	line-height:18px !important;
	margin-top:-18px;
	display:none;
	position:absolute;
	z-index:2;
	margin:auto;
	width:100%;
}
#divListProduct.on-air .list-product-content{
	box-shadow:0px 19px 18px 4px #545454b8;
}

/* :::::::::::::::::  MOBILE::::::::::::::::::::*/
#btnSearch{
		display: none;
	}
#btnSearchDni{
	display: none;
}


@media screen and (max-width: 992px) {
	#btnSearch{
		display: block;
		float: left;
		margin-right: 3px;
	}
	#btnSearchDni{
		display: block;
	}

}
@media screen  and (max-width: 1440px) and (orientation:landscape){
	#modal-form .modal-content{
		overflow: scroll;
	}
}
/* :::::::::::::::::  FIN MOBILE::::::::::::::::::::*/

/* :::::::::::::::::  ALERTIfY ::::::::::::::::::::*/
.alertify nav{
	background: #fbfbfb;
	border-top: #eee 1px solid;
	border-radius: 0 0 2px 2px;
	background-color: #fff;

}
.alertify .msg{
	    color: black;
}
.alertify .cancel{
	font-weight: bold;
	text-transform: uppercase;
}
.alertify .ok{
	font-weight: bold;
	text-transform: uppercase;
}
/* :::::::::::::::::  ALERTIfY ::::::::::::::::::::*/
.tableInputs input{
	width: 100%;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/
.disabledDiv
{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}
.color-anulado{
	color:#b94a48;
}
/*:para formar un interruptor::::::::::::::::::::::::::::::::::::::::::::::::::*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5cb85c !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5cb85c !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.ui-menuitem-link{
	padding-left: 18px !important;
}


.notifyjs-bootstrap-shadow{
	box-shadow:1px 3px 3px #ccc;
}

.notifyjs-bootstrap-base{
    border: solid 1px grey !important;
    margin: 70px 0px;
}

.btn:focus, .alertify button:focus, .ajs-button:focus{
	box-shadow:1px 5px 5px #ffd974;
	position:relative;

}


@keyframes downup_focus_indicator {
  from {bottom: -25px;}
  to {bottom: -20px;}
}
@keyframes flash_focus_indicator {
	from{opacity: 1;}
	to{opacity:0.3;}
}
input.form-control{
	box-shadow:none !important;
	transition: border-radius 0.5s, box-shadow 1s;

}
input.form-control:focus, textarea.form-control:focus{
	border:1px solid #ffd974 !important;
	box-shadow:1px 1px 5px #aaa !important;
	border-radius:10px;
}
.btn:focus::after {
	content:"\01F53A";
	position: absolute;
	bottom:-22px;
	right:0px;
	font-size:15px;
	animation: flash_focus_indicator 1.5s infinite;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::*/


/* Smartphones (portrait & landscape) */
@media only screen and (min-width : 320px) and (max-width : 480px) {
.modal-responsive	.modal-content .modal-body{
		height: 470px ;
		overflow: auto;
	}

}


/* iPads (portrait & landscape) */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

.modal-responsive	.modal-content .modal-body{
		height: 470px ;
		overflow: auto;
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1223px) {
.modal-responsive	.modal-content .modal-body{
		height: 470px ;
		overflow: auto;
	}
}

/* Ordenadores de sobremesa y portátiles */
@media only screen and (min-width : 1224px) {
.modal-responsive	.modal-content .modal-body{
		height: 600px ;
		overflow: auto;
	}
}

/* Pantallas grandes */
@media only screen and (min-width : 1824px) {
.modal-responsive .modal-content .modal-body{
		height: 600px ;
		overflow: auto;
	}
}

.alert{
	padding:5px;
}
.displaynone{
		display: none;
}
.displayblock{
		display: block;
}

/**/
#table-products .product-in-offer{ position:relative; }
#table-products .product-in-offer::after{
	content:'oferta';
	background:#EC1C24;
	color:white;
	padding:0 2px;
	position:absolute;
	bottom:0;
	right:0;
	font-size:11px;
	line-height:12px;
	display:block;
}

.margin-right{
       margin-left: 25px !important;
}
.text-left{
	text-align:left;
}
.no-padding{
	padding: 0;
}
.switch-text{
	top: 10px;
    position: absolute;
    padding-left: 5px;
}

.checkbox-gradient{
	border-radius:2px;
	background:linear-gradient(#FCFCFA, #EAE9E7);
	margin:0 2px;
	padding: 2px 5px;
	border: 1px solid #ddd;
}
.color-red-ligth{
	background: #ffd6d6;
}
.color-yellow-ligth{
	background: #ffffc5;
}
/*casbox view*/
.sales-detailed .table-wrapper{
	max-height:150px;
	overflow:auto;
}
.sales-detailed .title-detailed{
	display:flex;
	justify-content:space-between;
	padding:2px 10px;
	font-size:15px;
	background: #f0f0f0;
	margin:20px 0 0 0;
}
.sales-detailed .table td, .sales-detailed .table th{ padding:0 1px;}
.sales-detailed .check-ok{
	background:#adf999;
}
.sales-detailed .check-warning{
	background:#f9aa8a;
}

.red-bold{
	color: #d9534f;
	font-weight: bold;
}
.header-sale [class*="col-"]{
	padding-left: 5px;
	padding-right: 5px;
}
.header-sale .input-group-addon{
	padding: 5px;
}
.more-info{
	padding: 0;
	color: #5e87b0 !important;
	background: none;
	border: none;
}
.more-info:hover{
	background: antiquewhite !important;
}
#more-info{
	display: none;
}
#more-info input{
	height: 27px;
}
.table-pay {
	margin:0;
}
.table-pay tr th,.table-pay tr td {
	padding: 0px !important;
	text-align: center;
}
.img-gray{
	filter:grayscale(1);
}
.table-bordered > tbody > tr > td{
	vertical-align: middle;
}
.table > thead:first-child > tr:first-child > th{
	vertical-align: middle;
}
label{
	margin-bottom: 0px;
}
#menu-search{
    border-radius: 5px;
    opacity: 0.5;
    border: 1px solid #000;
    padding-left: 8px;
    width: 100%;
    height: 25px;
    background: rgba(0,0,0,.5);
}
.activeSelectMenu{
	background-color: #0081c2 !important;
	color:#fff;
}
.ajs-dialog{
	box-shadow: 8px 8px 15px #5c6bc0 !important;
    border-color: #5c6bc0 !important;
}

/*PANEL DE ESPERA*/
.panel-expect{
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	transition: all 300ms ease-in;
	display:none;
}
.panel-expect .panel{
	border: 1px solid #000;
	/*border-radius: 5px;*/
	background-color: #b2dfdb;
/* 	padding: 8px; */
	width: 40vw;
    height: 25vh;
    margin: 35vh auto;
    display: flex;
    flex-direction:column;
    justify-content: center;

}
.panel-expect-message{
	text-align: center;
	font-size: 3rem;
	color:#004d40;
	width: 100%;
}
.panel-expect-icon{
	font-size: 3.5rem;
}
.panel-expect_only-text{
	margin: 50vh auto;
	color:#e1f5fe;
}
.visibleModal{
	display:block;
}
.hideModal{
	display:none;
}

.rotated{
	animation-name: rotation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.shadowSuccess{
	box-shadow: 8px 8px 15px #4caf50 !important;
}


/**/
