<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': reserva.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #reserva="routerLinkActive">
        <span class="menu-title">Reserva</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': recepcion.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #recepcion="routerLinkActive">
        <span class="menu-title">Recepción</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': checkout.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #checkout="routerLinkActive">
        <span class="menu-title">CheckOut</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : aperutacaja.isActive || cierrecaja.isActive || resumenliquid.isActive }">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Modulo Caja</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #aperutacaja="routerLinkActive">Apertura Caja</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #cierrecaja="routerLinkActive">Cierre Caja</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #resumenliquid="routerLinkActive">Resuemen Liquidación</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item" [ngClass]="{'active' : producto.isActive || vender.isActive }">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Punto de Venta</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #producto="routerLinkActive">Productos</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #vender="routerLinkActive">Vender</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': egresos.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #egresos="routerLinkActive">
        <span class="menu-title">Egresos</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': mensajes.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #mensajes="routerLinkActive">
        <span class="menu-title">Mensajes</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : habitacion.isActive || categoria.isActive || niveles.isActive }">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Configuración</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #habitacion="routerLinkActive">Habitaciones</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #categoria="routerLinkActive">Categorias</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #niveles="routerLinkActive">Niveles</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': clientes.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #clientes="routerLinkActive">
        <span class="menu-title">Clientes</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : reporteDiario.isActive || reporteRecep.isActive || reporteCaja.isActive || reporteMensual.isActive}">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Reportes</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteDiario="routerLinkActive">Reporte diario</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteRecep="routerLinkActive">Reporte recepcionista</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteCaja="routerLinkActive">Reporte de Caja</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteMensual="routerLinkActive">Reporte mensual</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : usuario.isActive }">
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Administración</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/accordions" routerLinkActive="active" #usuario="routerLinkActive">Usuarios</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
