<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': reserva.isActive }">
      <a class="nav-link" routerLink="/reserva/reserva" routerLinkActive #reserva="routerLinkActive">
        <span class="menu-title">Reserva</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': recepcion.isActive }">
      <a class="nav-link" routerLink="/recepcion/recepcion" routerLinkActive #recepcion="routerLinkActive">
        <span class="menu-title">Recepción</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': checkout.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #checkout="routerLinkActive">
        <span class="menu-title">CheckOut</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <li class="nav-item" [ngClass]="{'active' : producto.isActive || vender.isActive }">
      <a class="nav-link" (click)="puntoventaCollapsed = !puntoventaCollapsed" [attr.aria-expanded]="puntoventaCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Punto de Venta</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!puntoventaCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #producto="routerLinkActive">Productos</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #vender="routerLinkActive">Vender</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': egresos.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #egresos="routerLinkActive">
        <span class="menu-title">Egresos</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': mensajes.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #mensajes="routerLinkActive">
        <span class="menu-title">Mensajes</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : habitacion.isActive || categoria.isActive || pisos.isActive}">
      <a class="nav-link" (click)="configuracionCollapsed = !configuracionCollapsed" [attr.aria-expanded]="configuracionCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Configuracion</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!configuracionCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="Configuracion/habitacion" routerLinkActive="active" #habitacion="routerLinkActive">Habitaciones</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Configuracion/categoria" routerLinkActive="active" #categoria="routerLinkActive">Categorias</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="Configuracion/pisos" routerLinkActive="active" #pisos="routerLinkActive">Pisos</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': clientes.isActive }">
      <a class="nav-link" routerLink="#" routerLinkActive #clientes="routerLinkActive">
        <span class="menu-title">Clientes</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : reporteDiario.isActive || reporteRecep.isActive || reporteCaja.isActive || reporteMensual.isActive}">
      <a class="nav-link" (click)="reporteCollapsed = !reporteCollapsed " [attr.aria-expanded]="reporteCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Reportes</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!reporteCollapsed ">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteDiario="routerLinkActive">Reporte diario</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteRecep="routerLinkActive">Reporte recepcionista</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteCaja="routerLinkActive">Reporte de Caja</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="active" #reporteMensual="routerLinkActive">Reporte mensual</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{'active' : usuario.isActive }">
      <a class="nav-link" (click)="administracionCollapsed = !administracionCollapsed" [attr.aria-expanded]="administracionCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Administración</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!administracionCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/accordions" routerLinkActive="active" #usuario="routerLinkActive">Usuarios</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
